python-telegram-bot[rate-limiter]>=21.0
yt-dlp>=2024.12.23
python-dotenv>=1.0.0
static-ffmpeg>=2.5
aiohttp>=3.9.0
aiofiles>=23.2.0
pyrogram>=2.0.106
cryptography>=42.0.0
requests>=2.31.0
telethon>=1.36.0
cryptg>=0.5.0
